@media only screen and (min-width: 961px) {
    .tainacan-item-single-page .tainacan-item-single {
        grid-template-columns: 1.25fr 1fr 220px !important;
        grid-template-areas: 'document metadata related' !important;
    }
    .tainacan-item-single-page .tainacan-item-section {
        max-width: 40vw;
        max-width: min(40vw, 880px);
    }
    .tainacan-item-single-page .tainacan-item-single .tainacan-media-component {
        --document-height: auto !important;
    }
   
}
.tainacan-item-single-page .tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main li.swiper-slide {
    padding: 0px 0px 2rem 0px;
}
.tainacan-item-single-page .tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main li.swiper-slide:hover .swiper-button-next,
.tainacan-item-single-page .tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main li.swiper-slide:hover .swiper-button-prev {
    opacity: 1.0;
}
.tainacan-item-single-page .tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main .swiper-slide-content a:first-of-type,
.tainacan-item-single-page .tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main .swiper-slide-content p:first-of-type {
    padding: 0px;
}
.tainacan-item-single-page .tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main .swiper-button-next,
.tainacan-item-single-page .tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main .swiper-button-prev {
    padding: 26px;
    background: var(--paletteColor6);
    border-radius: 100em;
    box-shadow: 0 0 12px -10px #000;
    opacity: 0.0;
    transition: opacity 0.3s ease;
}

.tainacan-item-section__items-related-to-this .wp-block-group__inner-container h3+p {
    display: none;
}

.post-navigation [class*="nav-item"]:hover {
	background: var(--paletteColor5, #f5f5f5);
}
.post-navigation .nav-item-next {
	padding-left: 1.5rem;
}
.post-navigation .nav-item-prev {
	padding-right: 1.5rem;
}
.post-navigation {
	grid-template-columns: max-content max-content !important;
	justify-content: space-between;
}

.tainacan-item-section__metadata-thumbnail .tainacan-metadata-label {
    display: none !important;
    visibility: hidden;
}

/* Compound metadata inside relationship groups have simpler layout */
.tainacan-item-single-page .tainacan-item-single .tainacan-relationship-group .tainacan-relationship-metadatum h5.label {
    display: none;
    visibility: hidden;
}
.tainacan-item-single-page .tainacan-item-single .tainacan-relationship-group .tainacan-relationship-metadatum>.tainacan-metadatum,
.tainacan-item-single-page .tainacan-item-single .tainacan-relationship-group .tainacan-relationship-metadatum>.tainacan-metadatum .tainacan-compound-group,
.tainacan-item-single-page .tainacan-item-single .tainacan-relationship-group .tainacan-relationship-metadatum>.tainacan-metadatum .tainacan-compound-group>.tainacan-metadatum {
    padding: 0 !important;
}

/* Compound metadata "dimensões" */
.tainacan-item-single-page .metadata-slug-dimensoes.metadata-type-compound .tainacan-compound-group {
    display: flex
}
.tainacan-item-single-page .metadata-slug-dimensoes.metadata-type-compound .tainacan-compound-group .metadata-type-numeric > p:after {
    content: 'cm';
}

/* Compound groups are more discrete */
.tainacan-item-single-page .tainacan-item-single .tainacan-item-section__metadata .tainacan-compound-group {
    border-left: none;
    padding-left: 0;
}

.tainacan-item-single-page .tainacan-item-section {
    margin-bottom: 0;
}

/* Metadata Audio Description */
.metadata-slug-audio-descricao audio {
    display: block;
    width: 100%;
}

/* Artists page does not show original media component */
.single-tnc_col_5_item .tainacan-item-section.tainacan-item-section--gallery,
.single-tnc_col_267_item .tainacan-item-section.tainacan-item-section--gallery {
    display: none;
    visibility: hidden;
}

/* Instead it shows document created from relationships to Obras */
@media screen and (min-width: 960px) {
    .single-tnc_col_5_item .tainacan-item-single-page .tainacan-item-single .tainacan-item-section--document {
        position: sticky;
        top: 2rem;
    }
}


/* Artists page shows items related to this instead of the items related to "that" */
.single-tnc_col_5_item .wp-block-tainacan-related-items {
    margin-top: 0;
}

/* Related itens in the Artists collection has more columns */
.single-tnc_col_5_item .ct-related-posts .ct-related-posts-items {
    --grid-template-columns: repeat(8, 1fr);
}

@media screen and (max-width: 1200px) {
    .single-tnc_col_5_item .ct-related-posts .ct-related-posts-items {
        --grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 940px) {
    .single-tnc_col_5_item .ct-related-posts .ct-related-posts-items {
        --grid-template-columns: repeat(2, 1fr);
    }
}

/* Related items in Events collection are not squared */
.single-tnc_col_1507_item .ct-related-posts .ct-related-posts-items .ct-image-container img {
    aspect-ratio: 3/4 !important;
}

.ct-related-posts .related-entry-title {
    margin-top: 2px;
}

.metadata-type-ainacan_url_plugin_metadata_type .tainacan-metadata-label,
.metadata-type-tainacan_url_plugin_metadata_type .tainacan-metadata-label {
    display: none !important;
    visibility: hidden;
}
.metadata-type-ainacan_url_plugin_metadata_type .wp-block-buttons,
.metadata-type-tainacan_url_plugin_metadata_type .wp-block-buttons {
    margin-bottom: 1rem;
}

/* Revista collection shows related items in a different way */
.single-tnc_col_5054_item .tainacan-item-single-page .metadata-slug-artistas {
    display: none !important;
    visibility: hidden;
}
@media screen and (min-width: 960px) {
    .single-tnc_col_5054_item .tainacan-item-single-page .tainacan-item-single {
        grid-template-columns: 1.25fr 1.75fr !important;
        grid-template-areas: 'document metadata' 'document related' !important;
        grid-template-rows: auto;
    }
}