.tainacan-collection-header__box {
    padding-top: 0px !important;
}
.tainacan-collections-links {
	font-size: 0.8125rem;
	padding: 0.35rem 1rem .5rem 0rem;
	margin-bottom: 0px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
    font-weight: bold;
    font-size: 1.125rem;
}
.tainacan-collections-links li {
	padding-right: 0.75rem;
	margin-right: 0.75rem;
}
.tainacan-collections-links a:not(:hover) {
	text-decoration: none;
}
.tainacan-collections-links li:not(:last-of-type) {
	border-right: 1px solid #ddd;
}
.tainacan-items-list-heading p:empty {
	margin-bottom: 0px;
}

.tainacan-modal,
.theme-items-list {
    --boxShadow: none;
    --backgroundColor: var(--background-color, #ffffff);
	--tainacan-filter-menu-width-theme: 364px;
	--tainacan-base-font-size: 1.125rem;
	--tainacan-input-border-color: #f2f2f2;
}

@media only screen and (min-width: 768px) {
	.tainacan-modal,
	.theme-items-list {
		--tainacan-filter-menu-width-theme: 210px !important;
	}
	/* Adding border to filters list */
	.theme-items-list #filters-modal .modal-content #filters-items-list {
		padding: 0 0 1rem;
		max-width: 100%;
	}
    .tainacan-modal #filters-modal .modal-content,
	.theme-items-list #filters-modal .modal-content {
        padding-top: 0px !important;
		padding-left: 5px !important;
		padding-right: 16px !important;
		max-width: calc(100% - 1rem) !important;
    }
	/* Less side padding */
	.theme-items-list .search-control {
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-bottom: 0px !important;
		margin-bottom: 0px;
	}
	.filter-tags-list {
		padding-left: 0px;
		padding-right: 0px;
	}
	.filter-tags-list .swiper-wrapper {
		margin-bottom: 4px;
	}
}
@media only screen and (max-width: 1024px) {
	#tainacanFiltersButton,
	#tainacanFiltersButton .is-hidden-touch {
		display: inline-block !important;
		visibility: visible !important;
	}	
}

.tainacan-modal #filters-modal .modal-content h3,
.theme-items-list #filters-modal .modal-content h3 {
	margin-bottom: 0.5em !important;
}

/* We don't use blocksy grid */
.theme-items-list:not(.is-fullscreen) {
    display: flex !important;
	top: 0rem !important;
    margin-left: auto;
    margin-right: auto;
    width: var(--container-width) !important;
    max-width: var(--normal-container-max-width) !important;
    min-width: initial !important;
    --boxShadow: none;
}

/* Smaller padding for this elements */
.theme-items-list .search-control .search-control-item.search-control-item--filters-button .button.is-white,
.theme-items-list .search-control .search-control-item.search-control-item--displayed-metadata-dropdown .dropdown-trigger .button.is-white {
	padding-left: 0px !important;
}

/* Faceted Search Hook to add collection links and page title */
.faceted-search-hook-search-control-before {
	grid-column-start: 2;
	grid-row-start: 1;
	padding-left: 0px;
	grid-row-end: 12;
}

/* The padding is in the page */
.search-control {
	padding-top: 5px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 6px !important;
	display: grid !important;
	grid-template-columns: 212px auto !important;
	grid-template-rows: repeat(auto-fill, 42px) !important;
}

/* Search input should have similar width than filters panel */
.search-control .search-control-item .search-area {
	max-width: 212px !important;
	min-width: 212px !important;
}


/* Search control has less spacing */
.theme-items-list .search-control[role="region"] {
	justify-content: flex-start !important;
}
.theme-items-list .search-control .search-control-item {
	margin-right: 0px !important;
	margin-bottom: 10px !important;
	margin-top: 4px;
	grid-column-start: 1;
}

.theme-items-list .search-control .search-control-item--search .search-area .tainacan-textual-search-input {
	width: calc(100% - 1.5rem) !important;
}


/* Avoids overlapping metadata name */
@media screen and (min-width: 1024px) {
	.search-control-item--sorting-area .field.has-addons {
		flex-wrap: wrap;
	}
	#tainacanSortByDropdown {
		min-width: 100%;
	}
	.search-control-item--sorting-area .field.has-addons #tainacanSortByDropdown .dropdown-trigger button.button {
		padding-left: 0px !important;
	}
}
#tainacanSortByDropdown .dropdown-trigger button.button {
	justify-content: flex-start;
}
#tainacanSortByDropdown .dropdown-trigger button.button>span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: calc(100% - 1rem);
}

/* No need for filters button on desktop */
#tainacanFiltersButton {
	display: none;
	visibility: hidden;
}

/* No need for Full Screen button */
#tainacanFullScreenViewMode:empty {
	display: none;
	visibility: hidden;
}

#tainacanViewModesSection {
	display: none;
	visibility: hidden;
}

.theme-items-list #items-list-area #items-list-results {
	padding-top: 0px;
}

/* Less margin to masonry container */
.tainacan-masonry-container {
	margin-left: 12px;
}

@media only screen and (max-width: 767px) {
	.theme-items-list:not(.is-fullscreen) .search-control {
		display: flex !important;
		justify-content: center !important;
	}
	.theme-items-list:not(.is-fullscreen) .search-control .search-control-item {
		margin-right: 20px !important;
		margin-left: 20px !important;
	}
	.faceted-search-hook-search-control-before {
		padding-left: 0;
		text-align: center;
	}
	.tainacan-items-list-heading,
	.tainacan-collections-links {
		justify-content: center;
	}
	#tainacanSortByDropdown .dropdown-trigger button.button>span {
		max-width: 100%;
	}
	.tainacan-modal #filters-modal .modal-content,
	.theme-items-list #filters-modal .modal-content {
		padding: var(--tainacan-container-padding) !important;
	}
}