.tainacan-zupi-grid-container {
    min-height: 50vh;
    padding: 38px 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, max(389px, 25%));
    grid-gap: 42px;
    justify-content: flex-start;
    margin-top: 0px;
    border-top: 1px solid #cecdcd;
    list-style: none;
    animation-name: appear;
    animation-duration: 0.5s;
}
.tainacan-zupi-grid-container--2.tainacan-zupi-grid-container {
    grid-template-columns: repeat(auto-fill, max(182px, 10%));
    grid-gap: 32px;
}
.tainacan-zupi-grid-container--3.tainacan-zupi-grid-container {
    grid-template-columns: repeat(auto-fill, max(280px, 20%));
    grid-gap: 32px;
}

.tainacan-zupi-grid-container .tainacan-zupi-grid-item {
    margin: 0px;
    display: block;
    text-decoration: none !important;
    width: 100%;
}

.tainacan-zupi-grid-container .tainacan-zupi-grid-item.skeleton {
    width: 100%;
}

.tainacan-zupi-grid-container .tainacan-zupi-grid-item .zupi-grid-item-thumbnail {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin: 0;
    display: block;
    position: relative;
    overflow: hidden;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .zupi-grid-item-thumbnail:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}
.tainacan-zupi-grid-container--3.tainacan-zupi-grid-container .tainacan-zupi-grid-item .zupi-grid-item-thumbnail:before {
    padding-top: calc(100% * (400 / 280));
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .zupi-grid-item-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px;
    object-fit: cover;
    object-position: center;
    width: 100% !important;
    height: 100% !important;
    transition: height 0.2s ease, width 0.2s ease;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .zupi-grid-item-thumbnail img:not([src]) {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    color: #555;
    background: var(--paletteColor5);
    padding: 30% 2rem;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .zupi-grid-item-thumbnail .skeleton {
    position: absolute;
    z-index: -1;
    background-color: #e0e0e0;
    bottom: 0;
}

.tainacan-zupi-grid-container .tainacan-zupi-grid-item .zupi-grid-item-thumbnail.placeholder img {
    padding: 2rem;
    background-color: #f2f2f2;
    opacity: 0.85;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .zupi-grid-item-thumbnail:hover {
    background-color: #dbdbdb;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .zupi-grid-item-thumbnail:hover img {
    width: 105% !important;
    height: 105% !important;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .metadata-title {
    flex-shrink: 0;
    padding: 0.6rem 0rem;
    text-align: left;
    position: relative;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .metadata-title h3 {
    font-size: 1.125rem;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-weight: bold;
    color: inherit;
}
.tainacan-zupi-grid-container--2.tainacan-zupi-grid-container .metadata-title {
    padding-top: 0.35rem;
}
.tainacan-zupi-grid-container--2.tainacan-zupi-grid-container .metadata-title h3 {
    font-size: 1rem;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .metadata-description,
.tainacan-zupi-grid-container .tainacan-zupi-grid-item a:hover .metadata-description,
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .metadata-description:hover {
    color: var(--paletteColor4, #000);
    font-weight: normal !important;
    text-decoration: none !important;
    font-size: 1rem !important;
    line-height: normal;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin-top: -0.5rem;
}
.metadata-description p {
    margin-bottom: 0;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .metadata-description h3 {
    font-size: 0.875em;
    display: none;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item a:not(:hover) {
    color: var(--paletteColor4, #000);
    text-decoration: none !important;
}

.tainacan-zupi-grid-container .tainacan-zupi-grid-item .metadata-title .slideshow-icon {
    border: none;
    background: none;
    box-shadow: none;
    color: var(--tainacan-info-color) !important; 
    position: absolute;
    right: 7px;
    top: 9px;
    transform: scale(0.0);
    transition: transform 0.2s ease;
}
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .metadata-title:hover .slideshow-icon,
.tainacan-zupi-grid-container .tainacan-zupi-grid-item .metadata-title:focus .slideshow-icon {
    transform: scale(1.0);
}


